In [11]:
import pandas as pd

In [102]:
#task 1
ratings = pd.read_csv("ratings.csv")
movies = pd.read_csv("movies.csv")
#ratings.head()
#movies = pd.read_csv("movies.csv")
best_movie_id = ratings[['movieId', 'rating']].query('rating == 5').groupby('movieId').count().sort_values('rating', ascending = False).head(1)
best_movie_info = best_movie.merge(movies, on = 'movieId', how = 'left')
print(best_movie_info)

#? можно ли как-то вывести значение всей строки для максимального значения количества оценок (с использованием max) по типу argmax в CH https://clickhouse.yandex/docs/ru/query_language/agg_functions/reference/#agg_function-argMax?
#cтрока ниже выводит только количество оценок без идентификатора фильма:
#best_movie_id = ratings[['movieId', 'rating']].query('rating == 5').groupby('movieId').agg('count').max()

   movieId  rating                             title       genres
0      318     153  Shawshank Redemption, The (1994)  Crime|Drama

In [90]:
#task 2
power = pd.read_csv("power.csv")
#print(power.head())
filtered_power = power.query('category in list ([4, 12, 21]) and country in list(["Latvia", "Estonia", "Lithuania"]) and quantity > 0 and 2005<=year<2010')
print('sum = ', sum(filtered_power['quantity']))

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1
sum =  201719.0

In [88]:
#task 3
df = pd.read_html('https://fortrader.org/quotes')[2]
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
                          Type       Last    Chg.    Chg.%  Time
0      Серебро Цена на серебро    14.9870  -2.979 -16.5810   NaN
1      Платина Цены на платину   939.5000  -6.300  -0.7000   NaN
2    Палладий Цена на палладий  1548.9500  17.100   1.1200   NaN
3      Медь Цена меди на бирже     2.6085  -0.017  -0.6475   NaN
4  Золото Цена золота на бирже  1493.5500  -4.960  -0.3300   NaN